@inherits LayoutComponentBase

<div class="main">
    <div >
       <Header/>
    </div>
    <div class="content px-lg-4 mt-lg-5 space-0 space-lg-2">
        @Body
    </div>
    <div>
        <Footer/>
    </div>
</div>
