@layout MainLayout
@page "/shares"
@inject IJSRuntime JSRuntime
@attribute [Authorize(Roles = "User")]

<div class="text-left">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter  m-lg-4 p-3">
            <li class="breadcrumb-item active" aria-current="page">Shares</li>
        </ol>
    </nav>
</div>




@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadScripts");
        }
    }
}
