@page "/admin-category-all-massage"
@layout AdminLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject CategoryAllMassageService CategoryAllMassageService

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
        <li class="breadcrumb-item active" aria-current="page">Category Massage</li>
    </ol>
</nav>
<div>
    <div class="text-left m-1">
        <NavLink class="btn btn-primary mb-1" href="/edit-category-all-massage">&nbsp;+&nbsp;</NavLink>
    </div>
</div>

<div class="table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
    <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
        <thead>
            <tr class="text-uppercase font-size-1">
                <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                        Title
                    </div>
                </th>
            </tr>
        </thead>
        @foreach (var item in categories)
        {
            <tbody class="font-size-1">
                <tr @onclick="(() => EditAdmin(item.Id))">
                    <td class="align-middle font-weight-normal">@item.Name</td>

                </tr>
            </tbody>
        }
    </table>
</div>

@code {
    protected CategoryMassageModel model = new CategoryMassageModel();
    protected IEnumerable<CategoryMassageModel> categories = new List<CategoryMassageModel>();
    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryAllMassageService.GetAllListAsync();
        this.StateHasChanged();
    }
    protected void EditAdmin(int id)
    {
        NavigationManager.NavigateTo("/edit-category-all-massage/" + id);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadScripts");
        }
    }
}
