@page "/edit-category-all-massage"
@page "/edit-category-all-massage/{Id:int}"
@layout AdminLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject CategoryAllMassageService CategoryAllMassageService

@if (Id == 0)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item"><a href="/admin-category-all-massage">Category Nails</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Category Massage</li>
        </ol>
    </nav>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-3">
            <li class="breadcrumb-item"><a href="/admin-category-all-massage"> Categor Massage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Category Massage</li>
        </ol>
    </nav>
}
<EditForm Model="@model" OnValidSubmit="HandleValidSubmit" class="card-body shadow-primary-lg p-3 mb-5 rounded">
    <DataAnnotationsValidator />
    <div>
        <div class="row d-flex">
            <div class="col-lg-12 form-group">
                <label for="promotions-title">Categories:<span style="color:red;">*</span></label>
                <InputText id="category" @bind-Value="model.Name" class="form-control promotions-datepicker" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ml-sm-3 m-auto">
            <button type="submit" class="btn btn-primary">Save</button>
            <NavLink class="btn btn-outline-secondary" href="/admin-category-all-massage">Cancel</NavLink>
        </div>
        <div class="p-3">
            <button type="button" class="btn btn-danger m-2" @onclick="(() => Delete(model.Id))">Delete</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    protected CategoryMassageModel model = new CategoryMassageModel();
    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            model = await CategoryAllMassageService.GetById(Id);
        }
        model.MassageAllModelCategory = new List<MassageAllModelCategoryAllMassageModel>();
    }
    private void HandleValidSubmit()
    {
        CategoryAllMassageService.Save(model);
        NavigationManager.NavigateTo("/admin-category-all-massage");
    }
    protected async Task Delete(int massageId)
    {
        await CategoryAllMassageService.DeleteAsync(Id);
        NavigationManager.NavigateTo("/admin-category-all-massage");
        this.StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadScripts");
        }
    }
}
